@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
 
 
}
body{
  background: #83767e;
  overflow: hidden;
}
::selection{
  background: rgba(26,188,156,0.3);
  
}
.container{
  
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
  
}
.wrapper{
  width: 100%;
  background: rgb(204, 152, 152);
  border-radius: 5px;
 
}
.wrapper .title{
  height: 90px;
  background: #000000;
  border-radius: 5px 5px 0 0;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}


.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: rgba(255, 255, 255, 0.904);
  font-size: 18px;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form .pass a{
  color: #ffffff;
  font-size: 17px;
  text-decoration: none;
} 

.wrapper form .button input{
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #000000;
  border: 1px solid #000000;
  cursor: pointer;
}




